<div class="container-fluid" style="height: 140px;margin-bottom: 40px">
    <div class="wrap-header" style="height: 90px">
        <div class="row">
            <div class="container">
                <nav class="navbar navbar-expand-sm">
                    <div class="navbar-collapse justify-content-end">
                        <ul class="navbar-nav mr-5">
                            {%if not request.user.is_authenticated%}
                                <li class="nav-item">
                                    <a class="nav-link" href="{%url 'users:login'%}">Đăng nhập |</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{%url 'users:register'%}">Đăng ký</a>
                                </li>
                            {%else%}
                                <li class="nav-item">
                                    <a class="nav-link" href="#">{{request.user.username}} |</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{%url 'users:logout'%}">Đăng xuất</a>
                                </li>
                            {%endif%}
                        </ul>
                    </div>
                </nav>
            </div>

        </div>
    </div>
    <div class="wrap-menu" style="height: 50px;background-color: #4B4A49">
        <div class="row">
            <div class="container">
                <nav class="navbar navbar-expand-sm">
                    <!--button collsape-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content"
                            aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="nav-content">
                        <ul class="navbar-nav mr-5">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Trang chủ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Trang chủ 2</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Trang chủ 3</a>
                            </li>
                        </ul>

                        <!--search form-->
                        <form class="form-inline mx-5 pl-5">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>